<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Videos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Videos</h1>
    <% if (playlist &&  video == undefined){ %>
        <p>Você está na playlist de <%= playlist %>.</p>
   <% } 
    if (playlist && video){ %>
        <p>Você está na playlist de <%= playlist %></p><br> Reproduzindo o video <%= video %>...
    <% } else{ %>
        <p>Página de vídeos</p>
    <% } %> 
</body>
</html>